<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OPENAI_API_KEY</key>
	<string>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</string>
	<key>UILaunchScreen</key>
	<dict/>
</dict>
</plist>
